.container {
    display: flex;
    align-items: center;
    user-select: none;
}
.name {
    font-size: 26px;
    line-height: 39px;
    margin-left: 12px;
    margin-right: 9px;
}
.icon {
    width: 27px;    
    img {
        display: block;
    }
}
.ten_ring {
    margin-top: -27px;
}